@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Noto+Sans:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.navigator{
    color: rgb(0, 0, 0);
    background-color: rgb(41, 38, 38, 0.5);
    padding: 10px 20px;
    margin-right: 200px;
    margin-left: 200px;
    font-weight: 600;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

.navigator ul li a{
    text-decoration: none;
    color: blue;
}

.titulo{
    color: rgb(255, 174, 0);
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#filme1{
    background-color: rgba(41, 38, 38, 0.5);
    color: rgb(255, 255, 255);
    font-weight:600;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
}

#filme2{
    background-color: rgba(41, 38, 38, 0.5);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
}

#filme3{
    background-color: rgba(41, 38, 38, 0.5);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
}

.informacoes{
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    font-size: small;
    text-align: center;
}

.imagens-filmes {
    width: 400px;
    height: auto;
    margin: auto;
    padding: 10px 20px 10px 20px;
    background-position: center;
}

.imagem-fundo{
    background-image: url("../imagem/faisca.gif");
    /* background-color: black; */
    height: 350px;
    background-repeat: repeat;
    background-size: 350px;
    
    border: 1px;
    padding: 1px;
}

.links{
    color: blue;
}